<IfModule mod_rewrite.c>

    RewriteEngine on

    RewriteBase /car_inventory

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule  (.*)$ views/$1.php [L]

 </IfModule>